body{
    background-color:rgb(34, 41, 51);
    color:rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    }
.focim{
    font-size: 45px;
    margin-top: 0px;
}
.link{
    color: white;
}
.betumeret{
    font-size: 25px;
    font-style: italic;
}
#cim{
    font-size: 40px;
}
.card{
    background-color: lightgrey;
}
.gomb{
    color:white;
    text-decoration: none;
    background-color: rgb(150, 139, 139);
    border-radius: 25px;
    border: 2px solid rgb(150, 139, 139);
    padding: 20px;
    width: 200px;
    margin-right: 100px;
    float: right;
    margin-left: 100px;
    margin-bottom: 100px;
}
.gomb:hover{
    background-color: rgb(10, 9, 9);
}
.menu{
    color: white !important;
}
.navbar-toggler-icon{
    filter: invert(1);
}
.kepek{
    width: 75%;
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 100px;
}